<link rel="stylesheet" href="{{.Site.BaseURL}}/css/material.min.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1446286428_7598324.css">
<link href="//cdn.bootcss.com/material-design-icons/2.0.0/iconfont/style.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{.Site.BaseURL}}/css/styles.css">
<link href="//cdn.bootcss.com/highlight.js/8.8.0/styles/codepen-embed.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/material-design-lite/1.0.4/material.min.js"></script>

<style type="text/css">
body{
  {{ if isset .Site.Params "background" }}
  background-image: url('{{ .Site.Params.background }}');
  {{ else if isset .Site.Params "bgcolor" }}
  background-color: {{ .Site.Params.bgcolor }};
  {{ else }}
  background-color: #424242;
  {{ end }}
}
.main-container .minilogo{
  {{ if isset .Site.Params "logo" }}
  background-image: url('{{ .Site.Params.logo }}');
  {{ else }}
  background-image: url('{{.Site.BaseURL}}/images/logo.png');
  {{ end }}
}
</style>
