<link rel="stylesheet" href="{{.Site.BaseURL}}/css/duoshuo.css">
<script type="text/javascript">
    function upgradeMdl(node) {
        //console.log(node.nodeName);
        var classList = node.classList;
        var i = classList.length;
        while (i--) {
            var cls = classList[i];
            if(cls == 'mdl-js-button' || cls == 'mdl-js-textfield' || cls == 'mdl-js-ripple-effect' || cls == 'mdl-tooltip')
            {
                componentHandler.upgradeElement(node);
                break;
            }
        }
        if (node.hasChildNodes) {
            var cNodes = node.childNodes;
            var i = cNodes.length;
            //console.log(i);
            while(i--){
                var cNode = cNodes[i];
                if (cNode.nodeType == 1) {
                    upgradeMdl(cNode);
                }
            }
        }
    }
    var duoshuoQuery = {
        short_name: "{{.Site.Params.DuoShuoName}}"
    };
</script>

<div class="ds-thread" data-thread-key="{{.Date}}" data-title="{{.Title}}" data-url="{{.Permalink}}"></div>

<script type="text/javascript" async="" src="{{.Site.BaseURL}}/js/duoshuo.js" charset="UTF-8"></script>
