        <footer class="mdl-mini-footer">
          <!-- <div class="mdl-mini-footer--left-section">

          </div>
          <div class="mdl-mini-footer--right-section">
            {{with .Site.Params.copyright}}
              {{ . | safeHTML }}
            {{end}}
          </div> -->
        </footer>
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  </body>
  <script>
  $(window).on('load',function() {
	setTimeout(function() {
	  $('body').addClass('loaded');
	}, 200);
  });
    $(function() {
	  //初始化代码高亮
      hljs.initHighlightingOnLoad();

	  //抽屉导航菜单激活项
	  $('.mdl-layout__drawer').find('.mdl-navigation').find('.mdl-navigation__link').each(function(){
		  var $this = $(this);
		  console.dir($this.attr('href'));
		  if($this.attr('href') == location.pathname) {
			  $this.addClass('active');
		  }
		  else {
		      $this.removeClass('active');
		  }
	  });
	  console.dir(location.pathname);
    });
  </script>
</html>
