<!doctype html>
<html lang="{{.Site.LanguageCode}}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <base href="{{ .Site.BaseURL }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <link href="{{.Site.BaseURL}}/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="{{.Site.BaseURL}}/post/index.xml" rel="alternate" type="application/rss+xml" title="RSS - {{ .Site.Title }}" />
    {{ partial "meta.html" . }}
    {{ partial "header-extra.html" . }}
    {{ partial "design.html" . }}

</head>

<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="main-container mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-upgraded">
        <header class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--waterfall">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title" id="title"></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/">首页</a>
                    {{range $name, $taxonomy := .Site.Taxonomies.categories}}
                      <a href="/categories/{{ $name | urlize }}" class="mdl-navigation__link">{{ $name }}</a>
                    {{end}}
                    <a class="mdl-navigation__link" href="/about">关于</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">
                <div class="logo">
                    <img src="{{.Site.Params.logo}}" style="width:100%">
                </div>
                 XiaoXiyao
            </span>
            <nav class="mdl-navigation">
                <a href="/" class="mdl-navigation__link"><i class="material-icons">home</i> 首页</a>
                {{range $name, $taxonomy := .Site.Taxonomies.categories}}
                  <a href="/categories/{{ $name | urlize }}" class="mdl-navigation__link"><i class="material-icons">{{.Site.Data.CategoryIcon.$name}}</i> {{ $name }}</a>
                {{end}}
                <a href="/tags" class="mdl-navigation__link"><i class="material-icons">loyalty</i> 标签云</a>
                <a href="/about" class="mdl-navigation__link"><i class="material-icons">info</i> 关于</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
