<nav class="nav mdl-cell mdl-cell--12-col">
	{{if .HasPrev}}
	<a href="{{ .Prev.URL }}" class="nav__button">
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
			<i class="mdi mdi-arrow-left"></i>
		</button>
		上一篇
	</a>
	{{end}}
	<div class="section-spacer"></div>
	{{if .HasNext}}
	<a href="{{ .Next.URL }}" class="nav__button">
		下一篇
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
			<i class="mdi mdi-arrow-right"></i>
		</button>
	</a>
	{{end}}
</nav>
